/* #box{
    background-color: blue;
} */
/* body{
    background-color: brown;
} *
.heading{
    color: rgba(199, 214, 39, 0.758);
}
button{
    color: blue;
/* } */

 div{ background-color: black;
height: 50px;
;
 }
#id1{ 
    color: orange;
    font-size: 20px;
} 
a{
    color: white;
    margin-right: 200px;
    text-decoration: none;
}
/* div{
    text-align: center;
    height: 50px;
    width: 70px;
    background-color: blue;
    border-radius: 50%;
    padding-top: 15px;
} */
button{
    background-color: yellow;
}